/**
 * Copyright (c) Facebook, Inc. and its affiliates.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 */

.docPage {
  display: flex;
}

.docSidebarContainer {
  border-right: 1px solid var(--ifm-toc-border-color);
  box-sizing: border-box;
  width: 300px;
  position: relative;
  margin-top: calc(-1 * var(--ifm-navbar-height));
}

.docMainContainer {
  flex-grow: 1;
}

@media (max-width: 996px) {
  .docPage {
    display: inherit;
  }
}
